:root {
  --font-family-heading: 'Josefin sans', sans-serif;
  --font-family-paragraph: 'Montserrat', sans-serif;
  --font-family-mono: monospace;
  --base-color: #ffffff;
  --base-offset-color: #323232;
  --highlight-color: {{ .Site.Params.highlightColor | default "#E67300" }};
  --heading-color: #323232;
  --text-color: #323232;
  --primary-cta: #E67300;
  --priamry-light: #FFAA00;
  --primary-bold: #C74F18;
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'pygments/github';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
  &.frame {
    min-height: 100vh;
    border: 18px solid var(--highlight-color);
  }
}

.header-logo {
  height: 20vh;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.button-CTA {
  background-color: var(--primary-cta);
  color: white;
  border: 2px;
  border-radius: 8px;
  margin: 10%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  &:hover {
    background-color: #FFAA00;
  }
  &.mobile {
    background-color: #323232;
  }
}