<script language="JavaScript">
    var AAPPetScrollerSettings = {
        'searchtools_box_width': '450',
        'searchtools_box_height': '600',
        'size': '450x600_gridnew',
        'title': '',
        'clan_name': '',
        'color': 'gray',
        'shelter_id': '190708',
        'sort_by': 'pet_name'
    };
    
    </script>
    <div style="height: 600px; width: 450px; -webkit-overflow-scrolling: touch; overflow-y: scroll;">
    <script language="JavaScript" src="https://images.adoptapet.com/js/st-portable-pet-list.js"></script></div>
